@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Arial';
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px              1fr                200px;
      grid-template-columns: 200px              1fr                200px;
  -ms-grid-rows: 200px minmax(1em, 70vh) auto;
      grid-template-rows: 200px minmax(1em, 70vh) auto;
      grid-template-areas: "header	  header 	  header" "menuL	  _page     menuR" "footer		footer		footer";
  min-height: 100%;
}

.main__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.main__asideLeft {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: menuL;
}

.main__asideRight {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: menuR;
}

.main__page {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: _page;
}

.main__footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

/*

  section {
    padding-top: 30px;
    text-align: center;
  }
  
  .home-selected {
    border-bottom-color: yellow;
  }
  
  .news-selected {
    border-bottom-color: green;
  }
  
  .contact-selected {
    border-bottom-color: blue;
  }
  */
/* Domyślne ustawienia:
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
/* Plik Navigation.js */
.navigation {
  padding: 0 30px 30px 0;
}

.navigation ul {
  list-style-type: none;
}

.navigation .nav-link img {
  position: relative;
  display: block;
  height: 150px;
}

.navigation a {
  display: block;
  width: 150px;
  height: 150px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  -webkit-transition: .9s;
  transition: .9s;
}

.navigation a:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: green;
}

.navigation a.active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.navigation li:nth-child(1) a.active {
  border-left-color: green;
}

.navigation li:nth-child(2) a.active {
  border-left-color: blue;
}

.navigation li:nth-child(3) a.active {
  border-left-color: orange;
}

.navigation li:nth-child(4) a.active {
  border-left-color: red;
}

/* Plik Header.js */
header {
  position: relative;
  overflow: hidden;
}

header img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

/* plik _ContactPage.scss */
.contact textarea {
  font-size: 16px;
  width: 80%;
  min-height: 200px;
  margin: 20px 0;
  line-height: 1.6;
}

.contact button {
  display: block;
  /* przesówa przycisk "jeden pod drógim" */
  margin: 0 20% 0 auto;
  border: 2px solid black;
  background-color: white;
  background: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: .4s;
  transition: .4s;
  /*przejście */
}

.contact button:hover {
  color: yellow;
  background-color: black;
}

/* plik _ProductListPage.scss */
.products h2 {
  margin-bottom: 20px;
}

.products ul {
  list-style: square;
  padding-left: 30px;
}

.products li {
  margin-bottom: 20px;
}

.products a {
  text-decoration: none;
  color: darkgray;
}

.products a:hover {
  text-decoration: underline;
  color: black;
}

/* Plik Fotter.js */
footer {
  background-color: #000;
  color: white;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

footer span {
  color: red;
}

footer p {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */