
//na moim telefonie:
//- tryb zwykły: 775x393px (ale zachowuje się, jak przy 421)
//- tryb "komputerowy:  980x980 (niezależnie od pozycji telefonu)
//Mój telefon ma niby: 2340x1080  a w przeglądarce: 775x393
// U Norberta  831x412

.main {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;  //utnij to co wystaje
    min-height: 100%;
    background-color: $bg-main-color;
}

.p_body {
    display: flex;
    flex-direction: row;
    //overflow-x: hidden;  //utnij to co wystaje
    background-color: $bg-main-color;
    
    .page {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-height: 200vh;
      @media (min-width: $ekran-sredni) { //wykona się tylko dla szerokości większej niż 800
        flex-grow: 0;
      }
      @media (min-width: $ekran-dozy) { //wykona się tylko dla szerokości większej niż 800
        flex-grow: 0;
      }
    }
}

.top {
    display: flex;
    flex-direction: column;

    &__nav {
      display: flex;
      flex-direction: column;

      &--left {
        display: flex;
        flex-direction: row;
      }

      &--right {
        display: flex;
        flex-direction: row;
      }
    }

    &__header {
      display: block;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-height: 50vh;
    }
}

.navLeft {
  display: none;
}

.navRight { 
  display: none;
}

.page {
  height: 130vh;

}

//-----------------------------------------------------------------------------
@media (min-width: $ekran-sredni) { //wykona się tylko dla szerokości większej niż 800
    .p_body{
        .page {
          flex-grow: 1;
        }
    }
    
    .top {
        &__nav {
          display: none;
        }
    }
    
    .navLeft { 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navRight { 
        display: flex;
        flex-direction: column;
        //align-items: flex-start;          
    }
}
//-----------------------------------------------------------------------------
@media (min-width: $ekran-dozy) { //wykna się tylko dla szerokości większej niż 1200

  .p_body{
    align-items: flex-start;

      .page {
        flex-grow: 1;
      }
  }
  
  .top {
      &__nav {
        display: none;
      }
  }
  
  .navLeft { 
      display: flex;
      flex-direction: column;
      //align-items: flex-start;
  }
  
  .navRight { 
      display: flex;
      flex-direction: column;
      align-items: flex-start;          
  }

}











/* Domyślne ustawienia:
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/