
//na moim telefonie:
//- tryb zwykły: 775x393px (ale zachowuje się, jak przy 421)
//- tryb "komputerowy:  980x980 (niezależnie od pozycji telefonu)
//Mój telefon ma niby: 2340x1080  a w przeglądarce: 775x393
// U Norberta  831x412

.main {
  // display: grid;
  // //grid-template-columns: $nav-whel-size  1fr                $nav-whel-size;
  // grid-template-columns:   $nav-whel-size   minmax(80% 90%)                 $nav-whel-size;
  // @media (max-width: 1200px) { //poniżej 1200
  //   grid-template-columns: $nav-whel-size/2  960px                 $nav-whel-size/2;
  // }

  // grid-template-rows:    200px           minmax(130vh, 1fr)   auto;
  // grid-template-areas: 
  // "header	  header 	  header"
  // "menuL	  page      menuR"
  // ".		    footer		." ;

  // @media (max-width: 800px) { //poniżej 800
  //   grid-template-columns:  100%;
  //   grid-template-rows:   calc(100vw / 4)
  //                         calc(100vw / 4)  
  //                         360px                //dla  nagłówka
  //                         minmax(130vh, 100%)   
  //                         auto;
    
  //   grid-template-areas: 
  //   "menuL"
  //   "menuR"
  //   "header"
  //   "page  "   
  //   "footer" ;
  
  // }


//-----------------------------------------------------------------------------
    display: flex;
    flex-direction: column;
    //overflow-x: hidden;  //utnij to co wystaje
    min-height: 100%;
    background-color: $bg-main-color;
}

.p_body {
    display: flex;
    flex-direction: row;
    //overflow-x: hidden;  //utnij to co wystaje
    
    
    background-color: $bg-main-color;
    
    .page {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      width: 100px;
      min-height: 200vh;
      @media (min-width: 800px) { //wykona się tylko dla szerokości większej niż 800
        flex-grow: 0;
      }
      @media (min-width: 1200px) { //wykona się tylko dla szerokości większej niż 800
        flex-grow: 0;
      }
    }
}

.top {
    display: flex;
    flex-direction: column;

    &__nav {
      display: flex;
      flex-direction: column;

      &--left {
        display: flex;
        flex-direction: row;
      }

      &--right {
        display: flex;
        flex-direction: row;
      }
    }

    &__header {
      width: 100%;
      height: 200px;
    }
}

.navLeft {
  display: none;
}

.navRight { 
  display: none;
}

.page {
  height: 130vh;

}



//-----------------------------------------------------------------------------
@media (min-width: 800px) { //wykona się tylko dla szerokości większej niż 800
    .p_body{
        .page {
          flex-grow: 1;
        }
    }
    
    .top {
        &__nav {
          display: none;
        }
    }
    
    .navLeft { 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navRight { 
        display: flex;
        flex-direction: column;
        //align-items: flex-start;          
    }
}
//-----------------------------------------------------------------------------
@media (min-width: 1200px) { //wykna się tylko dla szerokości większej niż 1200

  .p_body{
    //justify-content: space-between;
    align-items: flex-start;

      .page {
        flex-grow: 1;
      }
  }
  
  .top {
      &__nav {
        display: none;
      }
  }
  
  .navLeft { 
      display: flex;
      flex-direction: column;
      //align-items: flex-start;
  }
  
  .navRight { 
      display: flex;
      flex-direction: column;
      align-items: flex-start;          
  }

}











/* Domyślne ustawienia:
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/