/* Plik Fotter.js */
footer {

    background-color: rgb(54, 182, 92);
    color: white;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;

    span {
        color: rgb(18, 70, 21);
    }

    p {
        font-size: 14px;
    }

}
