/* Plik Fotter.js */
footer {

    background-color: #000;
    color: white;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;

    span {
        color: red;
    }

    p {
        font-size: 14px;
    }

}
