/* Plik Navigation.js */


.navigation {
    //padding: 0 30px 30px 0;    //góra, prawo dol lewo

    display: flex;
    flex-direction: column;
    @media (max-width: 800px) {
        flex-direction: row;
    }


    .nav-link {
        // display: grid;
        // grid-auto-flow: row;


        img{
            //position: relative;
            //display: block;
            //width: $nav-whel-size;
            // margin-left: -80px;
            
            height: $nav-whel-size;
            //height: calc( 100vw / 4);

            @media (max-width: 800px) {
                //height: calc(100vw / 4);
                $nav-whel-size: calc(100vw / 4);
                height: $nav-whel-size;
            }
        
        }
        
    }
    
    a {
        display: block;
        //display: flex;
        //flex-direction: column;

        width:  minmax(80px, $nav-whel-size) ;
        height:  minmax(80px, $nav-whel-size) ;
        @media (max-width: 800px) {
            width:  calc(100vw / 4);
            height:  calc(100vw / 4);
            //$nav-whel-size: calc(100vw / 4);
        }
    
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        //padding: 10px;
        margin:0 auto;
        border-radius: 50%;
        
        transition: .6s;
        
    }
    
    a:hover {
        //        transform: translateX(20px);
        transform: rotate(90deg) ;
        // background-color: green;
    }

    a.active {
        //border-left: 10px gray solid;
        //transform: translateX(0px);
        animation: pelny-obrot 20s linear;
        //animation: pelny-obrot 20s ease-in-out;
        animation-iteration-count: infinite;
    }

    @keyframes pelny-obrot {
        0% { transform: rotate(90deg); }
        25% { transform: rotate(0deg); }
        50% { transform: rotate(-90deg); }  
        75% { transform: rotate(-180deg); }  
        100% { transform: rotate(-270deg); }
    }

}

