/* Plik Navigation.js */


.navigation {

    .nav-link {

        padding: 0;
        @media (min-width: $ekran-sredni) { //wykna się tylko dla szerokości większej niż 800
            width: $nav-whel-size/2;
        }
        @media (min-width: $ekran-dozy) { //wykna się tylko dla szerokości większej niż 800
            width: $nav-whel-size;
        }

        img {
            height: calc( calc(100vw - 16px) / 4);

            @media (min-width: $ekran-sredni) { //wykna się tylko dla szerokości większej niż 800
                height: $nav-whel-size;
            }

            @media (min-width: $ekran-dozy) { //wykna się tylko dla szerokości większej niż 800
                height: $nav-whel-size;
            }
        }
    }
    
    a {
        display: block;
        width: calc( calc(100vw - 16px) / 4);
        height: calc( calc(100vw - 16px) / 4);
        @media (min-width: $ekran-sredni) {
            width:  $nav-whel-size ;
            height: $nav-whel-size ;
        }
    
        @media (min-width: $ekran-dozy) {
            width:  $nav-whel-size ;
            height: $nav-whel-size ;
            margin-left: 0px;
        }

        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        margin:0 auto;
        border-radius: 50%;
        transition: .6s;
    }
    
    a:hover {
        transform: rotate(90deg) ;
        //background-color: green;
    }

    a.active {
        animation: pelny-obrot 20s linear;
        animation-iteration-count: infinite;
    }

    @keyframes pelny-obrot {
        0% { transform: rotate(90deg); }
        25% { transform: rotate(0deg); }
        50% { transform: rotate(-90deg); }  
        75% { transform: rotate(-180deg); }  
        100% { transform: rotate(-270deg); }
    }
}

.navLeft {

    @media (min-width: $ekran-sredni) {
        a {
            margin-left: $nav-whel-size/2 * -1;
        }
    }
    @media (min-width: $ekran-dozy) {
        a {
                margin-left: 0px;
        }
    }
}

.navRight {
        
    @media (min-width: $ekran-sredni) {
        a {
                margin-left: 0px;
        }
    }
    @media (min-width: $ekran-dozy) {
    
    }
}
